<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="enversListener" class="org.hibernate.envers.event.AuditEventListener"/>
	
	<bean id="auditInterceptor" class="com.ds.appmanager.services.dao.AuditInterceptor" />
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.ds.appmanager.services.domain" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
			</value>
		</property>
		<property name="eventListeners">
			<map>
				<entry key="post-insert" value-ref="enversListener">
				</entry>
				<entry key="post-update" value-ref="enversListener">
				</entry>
				<entry key="post-delete" value-ref="enversListener">
				</entry>
				<entry key="pre-collection-update" value-ref="enversListener">
				</entry>
				<entry key="pre-collection-remove" value-ref="enversListener">
				</entry>
				<entry key="post-collection-recreate" value-ref="enversListener">
				</entry>
			</map>
		</property>	
		
		<property name="entityInterceptor" ref="auditInterceptor" />
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" rollback-for="IllegalArgumentException"/>
		</tx:attributes>
	</tx:advice>

</beans>
