<div class="panel panel-info">
	<div class="panel-heading">Application Details</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				<input  type="button"  value="Get Apps" ng-click="getApps()" class="btn btn-primary"/>		
			</div>
			<div class="col-md-2">
				<input  type="button"  value="Get App By ID" ng-click="getApp(applicationId)" class="btn btn-primary"/>
			</div>
			<div class="col-md-4">
				<input ng-model-options="{updateOn: 'default'}" type="number" name="appId" ng-model="applicationId" style="width:100px;" class="form-control"/>
			</div>
		</div> <br>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Sr No.</th>
						<th>Application Name</th>
						<th>Application Desc</th>
						<th>Application Launch</th>
						<th>Is Live</th>
						<th>Action</th>
					</tr>
				</thead>
				<tr ng-repeat="application in applications"
					ng-class="{true:'success',false:'danger'}[application.live]">
					<td>{{application.id}}</td>
					<td>{{application.name}}</td>
					<td>{{application.desc}}</td>
					<td>{{application.launch | date:'dd-MM-yyyy'}}</td>
					<td>{{application.live}}</td>
					<td>
						<button class="btn btn-info" ng-click="update(application.id)">Update</button>
						<button class="btn btn-danger" ng-click="deleteApp(application.id)">Delete</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="alert alert-danger" ng-show="noApp">
			<h5 align="center">No Application found with id {{applicationId}}</h5>
		</div>
	</div>
</div>

<script type="text/ng-template" id="deleteConfirmation.html">
	<div class="panel panel-primary">
		<div class="panel-heading">Confirm</div>
			<div class="panel-body">
				<h3>Are you sure you want to delete the application {{}}</h3>
			   <button class="btn btn-primary" type="button" ng-click="remove()">OK</button>
			   <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
			</div>
	</div>
</div>
</script>